<nb-layout>
  <nb-layout-column>
    <div class="text-center">
      <h1>Reclamador component library</h1>
      <h8>Built with Angular CLI app and Nrwl Nx!</h8>
      <img width="300"
        src="https://reclamador-static.s3.amazonaws.com/static/web/images/logo-reclamador.692ed3f5445c.svg"/>
    </div>

    <ngx-reclamitux-showcase></ngx-reclamitux-showcase>
    <div style="height:300px"
      [ngxSpinner]="true"
      [spinnerFade]="true"
      [spinnerFixed]="false"
      spinnerColor="#ccc"
      spinnerMessage="Some spinner here">
    </div>
  </nb-layout-column>
</nb-layout>
