<nb-layout>
  <nb-layout-column>
    <div class="text-center">
      <h1>Reclamador component library</h1>
      <img width="300"
        src="https://reclamador-static.s3.amazonaws.com/static/web/images/logo-reclamador.692ed3f5445c.svg"/>
    </div>
    
    <h2>This is an Angular CLI app built with Nrwl Nx!</h2>
    
    An open source toolkit for enterprise Angular applications. Nx is designed to
    help you create and build enterprise grade Angular applications. It provides an
    opinionated approach to application project structure and patterns.
    
    <h2>Quick Start & Documentation</h2>
    
    <a href="https://nrwl.io/nx"
      >Watch a 5-minute video on how to get started with Nx.</a
    >
    
    <ngx-reclamitux-showcase></ngx-reclamitux-showcase>
    <div style="height:300px"
      [ngxSpinner]="true"
      [spinnerFade]="true"
      [spinnerFixed]="false"
      spinnerColor="#ccc"
      spinnerMessage="Some spinner here">
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
