$text: #4b4b4b;

// Our colors
$cool-green: #39fdc9;
$soft-blue: #6699ff;
$light-grey: #bbbbbb;
$soft-grey: #949494;
$bg-soft-grey: #f4f4f4;
$bg-grey: #fdfdfd;

$color-warning: #ffb433;
$color-danger: #ff6699;
$color-black: #333;

$base-font-width: 300;

// commont styles
$border-shadow: 0 0 1px #ccc;
$full-shadow: 0 0 1px #ccc, 0 5px 20px 0 #ccc;

// Sizes
$base-padding: 1.5rem;
$header-height: 3rem;
$sidebar-width: 12rem;

// font stuff
$icon-font: 'Pe-icon-7-stroke';
$icon-close: '\e680';
